# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv
*.egg-info/
dist/
build/

# Node
node_modules/
.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
*.swp
*.swo
*~

# IDE
.vscode/
.idea/
*.code-workspace
.terraform/
terraform.tfstate*
.terraform.lock.hcl
